

form{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name__email, .telefono__select{
    display: flex;
    justify-content: center;
}

.name__email div, .telefono__select div{
    margin: 1rem;
}

.text__area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__area textarea{
    width: 24%;
    resize: none;
}

button{
    margin: 1rem 40vw!important;
}


