.container__super__portfolio{
    text-align: center;
}

.container__super__portfolio h2{
    color: #DB756E;
}

.container__items__portfolio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item__portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 230, 248);
    padding: 1rem;
    margin: 2rem 0 0 0;
}

.item__portfolio p{
    font-size: 1.5rem;
    font-weight: 600;
}
.input-position{
    width: 35rem;
}

.container__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__links a{
    margin: 1rem;
    color: #DB756E;
    font-weight: 600;
    font-size: 1.2rem;

}

.container__links img{
    width: 1.5rem;
}