body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color: #ecf2f7;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: none!important;
}

i.material-icons {
  color: #FF9F63;
}

hr{
  border: 1px solid #3F3D56!important;
}

footer{
  background-color:rgba(3, 43, 163, 0.5);
  text-align: center;
  padding: 2.5rem;
}